In [5]:
import pandas as pd

# 1. Read a .CSV file from URL with Pandas
   #### Target Website: https://www.football-data.co.uk/data.php

In [14]:
#reading .csv file from website
bundesliga24 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2425/D1.csv')

In [15]:
#showing dataframe
bundesliga24

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,D1,23/08/2024,19:30,M'gladbach,Leverkusen,2,3,A,0,2,...,1.86,2.04,1.87,2.06,1.96,2.08,1.91,1.96,1.91,2.07
1,D1,24/08/2024,14:30,Augsburg,Werder Bremen,2,2,D,2,1,...,1.88,2.05,1.88,2.04,1.88,2.06,1.86,2.03,1.90,2.10
2,D1,24/08/2024,14:30,Freiburg,Stuttgart,3,1,H,1,1,...,1.95,1.98,1.95,1.97,1.98,2.09,1.87,2.00,1.95,2.04
3,D1,24/08/2024,14:30,Hoffenheim,Holstein Kiel,3,2,H,2,0,...,2.03,1.90,1.99,1.93,2.16,1.95,2.02,1.86,2.00,1.95
4,D1,24/08/2024,14:30,Mainz,Union Berlin,1,1,D,0,0,...,2.10,1.83,2.11,1.83,2.13,1.85,2.07,1.81,2.18,1.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,D1,21/12/2024,14:30,Stuttgart,St Pauli,0,1,A,0,1,...,2.05,1.88,2.04,1.88,2.09,1.89,2.02,1.83,2.09,1.89
131,D1,21/12/2024,14:30,Werder Bremen,Union Berlin,4,1,H,3,1,...,1.99,1.94,1.99,1.93,2.00,2.00,1.92,1.92,2.03,1.96
132,D1,21/12/2024,17:30,Leverkusen,Freiburg,5,1,H,1,0,...,1.86,2.07,1.85,2.08,1.93,2.11,1.85,2.00,1.88,2.09
133,D1,22/12/2024,14:30,Bochum,Heidenheim,2,0,H,2,0,...,1.73,2.08,1.83,2.12,1.86,2.12,1.81,2.04,1.89,2.10
134,D1,22/12/2024,16:30,Wolfsburg,Dortmund,1,3,A,0,3,...,2.03,1.90,2.04,1.88,2.06,1.92,1.99,1.85,2.06,1.92

In [18]:
#renaming columns
bundesliga24 = bundesliga24.rename(columns={'FTHG':'HomeGoals',
                                         'FTAG':'AwayGoals'})

In [16]:
#showing dataframe
bundesliga24

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,D1,23/08/2024,19:30,M'gladbach,Leverkusen,2,3,A,0,2,...,1.86,2.04,1.87,2.06,1.96,2.08,1.91,1.96,1.91,2.07
1,D1,24/08/2024,14:30,Augsburg,Werder Bremen,2,2,D,2,1,...,1.88,2.05,1.88,2.04,1.88,2.06,1.86,2.03,1.90,2.10
2,D1,24/08/2024,14:30,Freiburg,Stuttgart,3,1,H,1,1,...,1.95,1.98,1.95,1.97,1.98,2.09,1.87,2.00,1.95,2.04
3,D1,24/08/2024,14:30,Hoffenheim,Holstein Kiel,3,2,H,2,0,...,2.03,1.90,1.99,1.93,2.16,1.95,2.02,1.86,2.00,1.95
4,D1,24/08/2024,14:30,Mainz,Union Berlin,1,1,D,0,0,...,2.10,1.83,2.11,1.83,2.13,1.85,2.07,1.81,2.18,1.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,D1,21/12/2024,14:30,Stuttgart,St Pauli,0,1,A,0,1,...,2.05,1.88,2.04,1.88,2.09,1.89,2.02,1.83,2.09,1.89
131,D1,21/12/2024,14:30,Werder Bremen,Union Berlin,4,1,H,3,1,...,1.99,1.94,1.99,1.93,2.00,2.00,1.92,1.92,2.03,1.96
132,D1,21/12/2024,17:30,Leverkusen,Freiburg,5,1,H,1,0,...,1.86,2.07,1.85,2.08,1.93,2.11,1.85,2.00,1.88,2.09
133,D1,22/12/2024,14:30,Bochum,Heidenheim,2,0,H,2,0,...,1.73,2.08,1.83,2.12,1.86,2.12,1.81,2.04,1.89,2.10
134,D1,22/12/2024,16:30,Wolfsburg,Dortmund,1,3,A,0,3,...,2.03,1.90,2.04,1.88,2.06,1.92,1.99,1.85,2.06,1.92

# 2. Read tables from HTML
   #### Target Website: https://en.wikipedia.org/wiki/List_of_Attack_on_Titan_episodes

In [6]:
aot = pd.read_html('https://en.wikipedia.org/wiki/List_of_Attack_on_Titan_episodes')

In [13]:
#showing no of tables
len(aot)

8

In [11]:
#showing the top 5 rows in a table
aot[1].head()

,No. overall,No. in season,Title,Directed by,Written by,Original air date [7][8],English air date
0,1,1,"""To You, in 2000 Years: The Fall of Shiganshin...","Hiroyuki Tanaka, Tetsurō Araki",Yasuko Kobayashi,"April 7, 2013","May 3, 2014"
1,2,2,"""That Day: The Fall of Shiganshina, Part 2"" Tr...",Masashi Koizuka,Yasuko Kobayashi,"April 14, 2013","May 10, 2014"
2,3,3,"""A Dim Light Amid Despair: Humanity's Comeback...",Kiyoshi Fukumoto,Hiroshi Seko,"April 21, 2013","May 17, 2014"
3,4,4,"""The Night of the Closing Ceremony: Humanity's...",Makoto Bessho,Yasuko Kobayashi,"April 28, 2013","May 24, 2014"
4,5,5,"""First Battle: The Struggle for Trost, Part 1""...",Shinpei Ezaki,Hiroshi Seko,"May 5, 2013","May 31, 2014"

In [12]:
#showing all rows in a table
aot[2]

,No. overall,No. in season,Title,Directed by,Written by,Storyboarded by,Original air date [10],English air date
0,26,1,"""Beast Titan"" Transliteration: ""Kemono no Kyoj...",Hiroyuki Tanaka,Yasuko Kobayashi,Masashi Koizuka,"April 1, 2017","April 23, 2017[11]"
1,27,2,"""I'm Home"" Transliteration: ""Tadaima"" (Japanes...",Yoshihide Ibata,Yasuko Kobayashi,Masashi Koizuka,"April 8, 2017","April 30, 2017"
2,28,3,"""Southwestward"" Transliteration: ""Nansei e"" (J...",Kenji Imura,Hiroshi Seko,Ryōtarō Makihara,"April 15, 2017","May 7, 2017"
3,29,4,"""Soldier"" Transliteration: ""Heishi"" (Japanese:...",Hitomi Ezoe,Hiroshi Seko,Satoshi Iwataki,"April 22, 2017","May 14, 2017"
4,30,5,"""Historia"" Transliteration: ""Hisutoria"" (Japan...",Tetsuya Wakano,Yasuko Kobayashi,"Tetsuya Wakano, Takayuki Hirao","April 29, 2017","May 21, 2017"
5,31,6,"""Warrior"" Transliteration: ""Senshi"" (Japanese:...",Hiroyuki Tanaka,Hiroshi Seko,Hiroyuki Tanaka,"May 6, 2017","June 4, 2017"
6,32,7,"""Close Combat"" Transliteration: ""Da - Tō - Kyo...",Takayuki Hirao,Hiroshi Seko,Takayuki Hirao,"May 13, 2017","June 11, 2017"
7,33,8,"""The Hunters"" Transliteration: ""Ou Mono"" (Japa...",Yūmi Kawai,Yasuko Kobayashi,Ryōtarō Makihara,"May 20, 2017","June 18, 2017"
8,34,9,"""Opening"" Transliteration: ""Kaikō"" (Japanese: 開口)",Yoshihide Ibata,Yasuko Kobayashi,Yoshihide Ibata,"May 27, 2017","June 25, 2017"
9,35,10,"""Children"" Transliteration: ""Kodomotachi"" (Jap...",Kenji Imura,Hiroshi Seko,Masayuki Miyaji,"June 3, 2017","July 9, 2017"
10,36,11,"""Charge"" Transliteration: ""Totsugeki"" (Japanes...","Hiroyuki Tanaka, Yasuhiro Akamatsu",Hiroshi Seko,Takayuki Hirao,"June 10, 2017","July 16, 2017"
11,37,12,"""Scream"" Transliteration: ""Sakebi"" (Japanese: 叫び)","Satonobu Kikuchi, Takayuki Hirao, Tetsurō Arak...",Yasuko Kobayashi,"Yuzo Sato, Ryōtarō Makihara","June 17, 2017","July 23, 2017"